<div class="text-left">
	{% for issue in issues %}
		<div class="issue">
			<div class="status">
				{% if issue.openStatus %}
					<span class="oi oi-flag"></span>
				{% else %}
					<span class="oi oi-check"></span>
				{% endif %}
			</div>
			<div class="title">
				<a href="/issue/{{issue.id}}"><h4>{{issue.title}}</h4></a>
				<div>
					<p>
						#{{issue.id}} opened {{ include('issue/_since-creation.html.twig', {'since': date(issue.date)}) }}
										by <span class="user">{{issue.startedBy}}</span>
					</p>
				</div>
				<div class="labels">
					{% for label in issue.labels %}
					<span class="badge badge-{{label.name|lower}}">
						{{label.name}}
					</span>
					{% endfor %}									
				</div>
			</div>

			<div class="comments">
				<span class="oi oi-comment-square"></span> {{issue.comments|length}}
			</div>
		</div>
	{% endfor %}
</div>