{% extends 'base.html.twig' %}

{% block title %}Fullstack developer task by Testio{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div>
	<div>
		<div>{{open}} Open</div>
    	<div>{{closed}} Closed</div>
	</div>

{% for issue in issues %}
		<div>
			<div>
				{{issue.id}}
			</div>
			<div>
				<a href="/issue/{{issue.id}}">{{issue.title}}</a>
			</div>
			{% for label in issue.labels %}
			<div>
				{{label.name}}
			</div>
			{% endfor %}
			<div>
				{{issue.comments|length}} comments
			</div>
		</div>
{% endfor %}
</div>
{% endblock %}
