{% extends 'base.html.twig' %}
	{% block class %}id="index"{% endblock %}
{% block body %}

	{{ include('header.html.twig') }}

 	<main role="main">
		<div class="container-fluid">
		  	<div class="row">
			    <div class="col text-center">
			    	<div class="oc-issues">
						<div class="open"><span class="oi oi-flag"></span>{{open}} Open</div>
				    	<div class="closed"><span class="oi oi-circle-check"></span>{{closed}} Closed</div>
			    	</div>
			    	
			    	{{ include('issue/_issue.html.twig', {'issues': issues}) }}

			    	{{ include('issue/_pagination.html.twig', {'active': page, 'total': totalPages})}}
			    </div>
		   		<div id="photo-bg" class="col">
		   			    <div class="h-100 w-100 background-overlay">
		   			    	<div class="text-center vertical-align">
			   			    	<h1>Full Stack Developer Task</h1>
			   			    	<p>by <img class="logo" src="{{ asset('images/testio.png') }}" alt="testio logo"></p>
							</div>
    					</div>
		   		</div>
		   	</div>
	    </div>
	</main>


</div>
{% endblock %}
