{% extends 'base.html.twig' %}
	{% block class %}id="index"{% endblock %}
	{% block title %}{{issue.title}}{% endblock %}
{% block body %}

	{{ include('header.html.twig') }}

 	<main role="main">
		<div class="container">
			<div class="row">
				<div class="col-md-3 offset-md-1">
					<div class="back">
						<a href="{{app.request.headers.get('referer')}}"><span class="oi oi-arrow-thick-left"></span>
						Back to Issues</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-11 offset-lg-1">
					<div class="issue-title">
						<h3>{{issue.title}} <span class="issue-id">#{{issue.id}}</span></h3>
						<div class="subtitle">
							<div class="status">
								{% if issue.openStatus %}
									<span class="badge badge-primary"><span class="oi oi-flag"></span> OPEN</span>
								{% else %}
									<span class="badge badge-info"><span class="oi oi-check"></span> CLOSE</span>
								{% endif %}
							</div>
							<div class="creation">
								<span class="user">{{issue.startedBy}}</span> opened this issue {{ include('issue/_since-creation.html.twig', {'since': date(issue.date)}) }} - {{ issue.comments|length }} {% if issue.comments|length > 1 %}comments{% else %}comment{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-11 offset-lg-1">
					{% for comment in issue.comments %}
						<div class="comment-wrapper">
							<div class="comment-photo">
								<img src="{{ asset('images/'~random(['one', 'two', 'three'])~'.jpg') }}">
							</div>
							<div class="comment">
								<div class="comment-title">
									<span class="user">{{comment.user}}</span> commented {{ include('issue/_since-creation.html.twig', {'since': date(comment.date)}) }}
								</div>
								<div class="comment-body">
									{{comment.body}}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
	    </div>
	</main>


</div>
{% endblock %}